<div class="text-gray-800 flex justify-end">
  <a [routerLink]="['/home']" class="font-bold text-[15px] hover:border-gray-800 ">Inicio</a>
</div>

<section class="h-[80vh] flex items-center justify-center">
  <div class="bg-gray-100 flex rounded-2xl shadow-lg max-w-3xl p-5 items-center border-3 border-gray-400">
    <div class="md:w-1/2 px-8 md:px-16">
      <h2 class="font-bold text-2xl text-center text-[#EC6708]">Iniciar Sesión</h2>
      <form class="flex flex-col gap-4"
      novalidate [formGroup]="formulario"(ngSubmit)="submit()">
      <div class="relative">
      <label>Usuario<Strong style="color: red;">*</Strong></label>
        <input class="p-2  rounded-xl border" type="text" name="email" placeholder="Usuario" id="email" required
        formControlName="email">
      </div>
        <div class="relative">
          <label>Contaseña<Strong style="color: red;">*</Strong></label>
          <input class="p-2 rounded-xl border w-full" type="password" name="password" placeholder="Password" formControlName="password"> 
        </div>
        <button class="bg-[#EC6708] rounded-xl text-white py-2 hover:scale-105 duration-300" type="submit">Login</button>

      </form>
    </div>
    <div class="md:block hidden w-1/2">
      <img class="rounded-2xl" src="../../../assets/img/logo-sin-fondo.png">
    </div>
  </div>
</section>