<div class="text-gray-800 flex justify-end">
  <a [routerLink]="['/login']" class="font-bold text-[15px]">Login</a>
</div>
<section class="h-[80vh] flex items-center justify-center">
<div class="card flex max-w-3xl bg-gray-100">
    <div class="card-head">ALIVINERA BONANZA</div>
    <div class="card-body">
      <p>Since 1971, it always has been and will always be about quality. we're passionate
        aboute ethically sourcing only the finest rabica coffee beans and roasting them with grat care.Our passion for
        coffee is rivaled only
        by our love of sharing it.</p>
      <a href="#">Learm More</a>
    </div>
  </div>
</section>